html,
body,
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.social-icons {
  font-size: 24px;
}
.social-icons a {
  color: #333;
  margin: 0 10px;
  transition: color 0.3s ease;
}
.social-icons a:hover {
  color: #007bff;
}
